@config "./../tailwind.config.js";
@import './assets/css/fonts.css';
@import "tailwindcss";

a { text-decoration: none; cursor: pointer; }
button { cursor: pointer; transition: all 0.5s ease-out;}
button:hover {  transition: all 0.5s ease-in;}